*{
    margin: 10px;
    padding: 10px;
    align-self: center;
}
.box{
    background-color: white ;
    width: 50%;
    height: 60%;
    top: 20%;
    position: relative;
    margin: 0 auto;
}
.main{
    align-self: center;
    padding: 0px;
}

.login-head{
    text-decoration-line: underline;
}
.remember-me{
    float: left;
}
.forgot-pass{
    float: right;
}
.All{   
    border-radius: 5%;
    background-color: white;
    width: 85%;
    height: 65%;
    align-self: center;
    padding: 7%;
}
#tb{
    width: 60%;
    height: 10px;
    border-radius: 10%;
}
#tbp{
    width: 60%;
    height: 10px;
    border-radius: 10%;
}
.button{
    border-radius: 35%;
    width: 3cm;
    background-color: #0C7EF1;
    -webkit-text-fill-color: aliceblue; 
}
.bdy{
    background-color: gray;
}