*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #F6F8F9;
}
.topbar{
    display: flex; 
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px;
    justify-content: space-between;    
}
.right{
    display: flex;
    margin-right: 30px;
    align-items: center;  
}
.request-bar{
    display: flex; 
    align-items: center;
    background-color: #FFFFFF;
    padding: 30px;
    justify-content: space-between;
    margin: 10px;    
}
.search-bar{
    border-radius: 25px;
    border: 3px solid #B5B5B5;
    width: 600px;
    padding: 10px;  
  }
.search-bar input{
    border: none;
    outline: none;
    }
.txt{
    line-height: 30px;
    border-bottom: solid #32BDD2;
}
.search-bar img{
    float: right;
    position: relative;
}
.new-request input{
    border-radius: 25px;
    width: 150px;
    padding: 10px;
    background-color: #0C7EF1;
    -webkit-text-fill-color: aliceblue;
}
.fa fa-search{
    border: solid grey;
}