    *{
    padding: 0%;
    margin: 0%;
}
body {
    background-color: #7F7F7F;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topbar{
    display: flex;
    background-color: #FCFCFC;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    /* width: 100%; */
    border-top: 0px;
    line-height: 15px;
    border-bottom: #7F7F7F;
    margin-bottom: 2px;
    box-shadow: 0px 2px 0px 0px #777777;
    /* border-radius: 10%; */
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;   
}
.main1 {
    /* background-color: #FFFFFF; */
    margin: 10%;
    width: 75%;
    border: 0px;
    border-radius: 0%;
}
.bottom-txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #FCFCFC;
    padding: 20px;
    /* width: 100%; */
    /* border-top-color: #7F7F7F; */
    box-shadow: 2px 2px 2px 2px #7F7F7F;
}
.content{
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    background-color: #FCFCFC;
    padding: 10px;  
}