*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #F6F8F9;
    font-family: 'Roboto';
}
.attachment{
    background-color: #F0F0F0;
    box-shadow: 1px 1px 1px 1px #E0E0E0;
}
.topbar{
    display: flex; 
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px;
    justify-content: space-between;    
}
.right{
    display: flex;
    margin-right: 30px;
    align-items: center;  
}
.request-bar{
    box-shadow: 0px 2px 2px #DFEBEF;
    display: flex; 
    align-items: center;
    background-color: #FFFFFF;
    padding: 30px;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 5px;    
}
.search-bar{
    border-radius: 25px;
    border: 1px solid #B5B5B5;
    width: 600px;
    padding: 10px;  
  }
.search-bar input{
    border: none;
    outline: none;
    }
.txt{
    line-height: 30px;
    border-bottom: solid #32BDD2;
}
.search-bar img{
    float: right;
    position: relative;
}
.new-request input{
    border-radius: 25px;
    width: 150px;
    padding: 10px;
    background-color: #32BDD2;
    border: #32BDD2;
    -webkit-text-fill-color: aliceblue;
}
.filter-bar{
    box-shadow: 0px 2px 2px #DFEBEF;
    display: flex; 
    align-items: center;
    background-color: #FFFFFF;
    padding: 5px;
    justify-content: flex-start;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 2px;
}
.right-text{
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 157px;
    justify-content: flex-end;
    margin-right: 30px;
}
.request-list{
    box-shadow: 0px 0px 2px #DFEBEF;
    display: flex; 
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 2px;
}
.middle-img{
    margin-left:35px;
}
.dropdown {
    float: left;
    overflow: hidden;
  }
.dropdown-content {
    display: none;
    left: 73em;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px; 
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .showmore{
        display: flex;
        align-items: center;
        padding: 30px;
        justify-content: center;
        background-color: #FFFFFF;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
        box-shadow: 0px 2px 2px #DFEBEF;
  }
.mainbox{
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px 1px #D3D3D3; 
}
.left-img{
    width: 80px;
    display: flex;
    justify-content: flex-start;
    background-color: #FFFFFF;
}
.req-txt>p{
    margin-top: 100px;
    margin-bottom: 60px;
    transform: rotate(-90deg);
    color: #000000;
    font-family: 'Roboto';
    font-size: 14px;
}
#txtarea{
    border: none;
    outline: none;
    background-color: #FCFCFC;
    resize: none;
    margin: 5px;
}
.txtara{
    width: 423px;
    height: 99px;
    /* box-shadow: 1px 1px 1px 1px #B5B5B5; */
    border-radius: 5px;
    border: 1px solid #B5B5B5;
    background-color: #FCFCFC;
}
.content{    
    background-color: #FCFCFC;
    width: 100%;
    padding: 40px;
}
.bottom-txt{
    margin-top: 150px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.Item-list-content{
    width: 100%;
}
.Item-head{
    display: flex;
    align-items: center;
    padding: 25px;
    background-color: #F0F0F0;
    justify-content: space-between;
    width: 100%;
}
.Add-item{
    display: flex;
    align-items: center;
    /* margin-left: 750px; */
}
.Item-discription{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}