*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #F6F8F9;
    font-family: 'Roboto';
}
.request-view{
    background: #245070 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 8% 5% 13% 3%;
    width: 100%;
}
.bottom-view{
    /* position: relative; */
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px #D3D3D3;
    opacity: 1;
    width: 100%;
    padding: 5%;
}
.attachment{
    background-color: #F0F0F0;
    box-shadow: 1px 1px 1px 1px #E0E0E0;
}
.drag-drop{
    display: flex;
    background-color: #32BDD2;
    border: #32BDD2;
    justify-content: center;
    align-items: center;
    /* padding: 1% 3%;     */
}
.text{
    border: solid 1px #DFEBEF;
    padding: 1.5%;
    width: 45%; 
}
.image{
    border: solid #FFFFFF 2px;
    border-style: dashed;
    margin: 1vw;
    padding-left: 6vw;
    padding-right: 6VW;
    padding-top: 4vh;
    padding-bottom: 4vh;
}
.button{
    background-color: #32BDD2;
    border: solid 0px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    padding: 1.5vh 2vw;
    border-radius: 3px;
    margin-top: 10px;   
}
.big-container {
    margin: 3%;
    background-color: #FFFFFE;
    border: solid 0.05vw #f5f5f5;
    padding: 5%;
}
.inner-container{
    display: flex;
    padding: 3%;
}
.topbar{
    display: flex; 
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px;
    justify-content: space-between;    
}
.right{
    display: flex;
    margin-right: 30px;
    align-items: center;  
}
.request-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    position: absolute;
    padding: 2% 4% 2% 4%;
    border-radius: 50px;
    background: #FCFDFF 0% 0% no-repeat padding-box;
    margin: 17vw 8vw 5vw 7vw;
    box-shadow: 0px 3px 6px #A3A3C4;
    opacity: 1;
}
.search-bar{
    border-radius: 25px;
    border: 1px solid #B5B5B5;
    width: 600px;
    padding: 10px;  
  }
.search-bar input{
    border: none;
    outline: none;
    }
.txt{
    line-height: 30px;
    border-bottom: solid #32BDD2;
}
.search-bar img{
    float: right;
    position: relative;
}
.new-request input{
    border-radius: 25px;
    width: 150px;
    padding: 10px;
    background-color: #32BDD2;
    border: #32BDD2;
    -webkit-text-fill-color: aliceblue;
}
.filter-bar{
    box-shadow: 0px 2px 2px #DFEBEF;
    display: flex; 
    align-items: center;
    background-color: #FFFFFF;
    padding: 5px;
    justify-content: flex-start;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 2px;
}
.right-text{
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 157px;
    justify-content: flex-end;
    margin-right: 30px;
}
.request-list{
    box-shadow: 0px 0px 2px #DFEBEF;
    display: flex; 
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 2px;
}
.middle-img{
    margin-left:35px;
}
.dropdown {
    float: left;
    overflow: hidden;
  }
.dropdown-content {
    display: none;
    left: 73em;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px; 
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .showmore{
        display: flex;
        align-items: center;
        padding: 30px;
        justify-content: center;
        background-color: #FFFFFF;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
        box-shadow: 0px 2px 2px #DFEBEF;
  }
.mainbox{
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 15px;
    box-shadow: 1px 0px 0px 0px #D3D3D3; 
}
.left-img{
    width: 80px;
    display: flex;
    justify-content: center;
    /* background-color: #FFFFFF; */
}
.req-txt{
    display: inline-block;
    margin: 25%;
    /* margin-top: 100px;
    margin-bottom: 60px;
    transform: rotate(-90deg);
    text-align: left;
    font: Bold 14px/67px Roboto;
    letter-spacing: 2.8px;
    color: #000000;
    opacity: 1; */
}
#txtarea{
    border: none;
    outline: none;
    background-color: #FCFCFC;
    resize: none;
    margin: 5px;
}
.txtara{
    width: 423px;
    height: 99px;
    /* box-shadow: 1px 1px 1px 1px #B5B5B5; */
    border-radius: 5px;
    border: 1px solid #B5B5B5;
    background-color: #FCFCFC;
}
.content{    
    background-color: #FCFCFC;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    /* padding: 40px; */
}
.bottom-txt{
    margin-top: 10%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.Item-list-content{
    width: 100%;
}
.Item-head{
    display: flex;
    align-items: center;
    padding: 25px;
    background-color: #F0F0F0;
    justify-content: space-between;
    width: 100%;
}
.Add-item{
    display: flex;
    align-items: center;
    /* margin-left: 750px; */
}
.Item-discription{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.people{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    border: 1px solid #E0E0E0;
    background-color: #FCFCFC;
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1%;
}
.items{
    display: flex;
    justify-content: space-between;
    /* justify-content: space-evenly; */
    align-items: center;
    margin-top: 5%;
}
.attachments{
    margin-top: 3%; 
}