*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #F6F8F9;
} 
.main{
    margin: 1% 1% 1% 1%;
    background-color: #ffffff;
    border: solid 1px #00000034;
    box-shadow: 1px 1px 1px 1px #D3D3D3;
}
input[type=text]{
    width: 48.8%;
    margin-left: 4%;
    margin-top: 2%;
    padding: 0.5% 0.5% 1% 0.5%;
    border: solid 0.5px #707070;
}
.bottom-box{
    display: flex;
    justify-content: space-between;
    margin: 2%;
    margin-top: 10%;
}
.middle-box{
    margin: 5%;
}